<p>modal works</p>

<div class="modal modal fade" id="infoModalPage" tabindex="-1" aria-labelledby="infoModalPageLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Afegeix les pàgines que tindrà el teu projecte.<br>El cost de cada pàgina és de 30 €.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal modal fade" id="infoModalLang" tabindex="-1" aria-labelledby="infoModalLangLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Afegeix els llenguatges que tindrà el teu projecte.<br>El cost de cada llenguatge és de 30 €.</p>
      </div>
    </div>
  </div>
</div>


