
<div class="modal modal fade" id="infoModalPage" tabindex="-1" aria-labelledby="infoModalPageLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-5 text-center">
        <h4 class="mt-3 mb-2">Número de pàgines</h4>
        <p class="mt-3">Afegeix les pàgines que tindrà el teu projecte.<br>El cost de cada pàgina és de 30 €.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal modal fade" id="infoModalLang" tabindex="-1" aria-labelledby="infoModalLangLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-5 text-center">
        <h4 class="mt-3 mb-2">Número de llenguatges</h4>
        <p class="mt-3">Afegeix els llenguatges que tindrà el teu projecte.<br>El cost de cada llenguatge és de 30 €.</p>
      </div>
    </div>
  </div>
</div>


