.container{
  width: 90%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../../assets/img/vector-OCT-2020-33_generated.jpg");
  background-size: cover;
  background-position: center;
}
