<form [formGroup]="panelForm">

  <div class="container d-flex flex-row align-items-center justify-content-end">
    <i class="bi bi-info-circle"></i>
    <p class="fw-bold m-2">Nombre de pàgines: </p>
    <!--TO DO Modal-->
    <button class="btn btn-rounded"><i class="bi bi-plus-circle" style="color: grey"></i></button>
    <input class="panel" type="text">
    <button class="btn btn-rounded"><i class="bi bi-dash-circle" style="color: grey"></i></button>
  </div>

  <div class="container d-flex flex-row mb-3 align-items-center justify-content-end">
    <i class="bi bi-info-circle"></i>
    <p class="fw-bold m-2">Nombre de llenguatges: </p>
    <!--TO DO Modal-->
    <button class="btn btn-rounded"><i class="bi bi-plus-circle" style="color: grey"></i></button>
    <input class="panel" type="text">
    <button class="btn btn-rounded"><i class="bi bi-dash-circle" style="color: grey"></i></button>
  </div>


</form>
